	   <nav>
    <div class="nav-wrapper orange darken-2">
      <a href="#!" class="brand-logo white-text">PicSite</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a> 
      <ul class="right hide-on-med-and-down">
        <li><%= link_to "Home", root_path, :class => 'white-text' %></li>
    
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-button white-text" href="#!" data-activates="dropdown1">Category     </a></li>
        
        
        <!-- Dropdown Trigger 
  <a class='dropdown-button btn' href='#' data-activates='dropdown1'> Category</a> -->

  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
    <li><%= link_to "City", cities_path %></li>
      <li><%= link_to "Landscape", landscapes_path %></li>
    <li class="divider"></li>
    
  </ul> 
      <li class="divider"></li>
      </ul> 
      <ul class="side-nav" id="mobile-demo">
         <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "How it works", work_index_path %></li>
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Category</a></li>
        <li><%= link_to "City", cities_path %></li>
      <li><%= link_to "Landscape", landscapes_path %></li>
      <li class="divider"></li>
      </ul>
    </div>
  </nav>

<div class ="container">
    <div class="rower">
      <div class="col s12 m5">
        <div class="card-panel teal">
          <span class="black-text">
          <%= render 'form' %>
            
            
        </div>
      </div>
        <%=link_to 'Back', landscapes_path %>
    </div>
      
    </div> 
  
  
<footer class="page-footer orange darken-4">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Help PicSite Grow</h5>
                <p class="grey-text text-lighten-4">Donate to help PicSite grow</p>
              </div>
              <div class="col l4 offset-l2 s12">
                     <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_donations">
<input type="hidden" name="business" value="dhrutishah10@gmail.com">
<input type="hidden" name="lc" value="US">
<input type="hidden" name="no_note" value="0">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="bn" value="PP-DonationsBF:btn_donate_LG.gif:NonHostedGuest">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
              </div>
            </div>
          </div>
          <div class="footer-copyright orange darken-4">
            <div class="container">
            
            
            </div>
          </div>


</footer>




